html,
body {
  margin: 0;
  font-family: 'Roboto';
  color: #4f4d53;
}
.container {
  max-width: 50%;
  margin: auto;
  height: 100%;
}
h4 {
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 1300px) {
  .container {
    max-width: 65%;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 75%;
  }
}
@media (max-width: 650px) {
  .container {
    max-width: 90%;
  }
}
.photo {
  height: 200px;
  border-radius: 50%;
  width: 200px;
}
.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.info {
  padding-left: 35px;
  text-align: left;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  color: #fff;
  text-decoration: none;
}